{{#if refresh}}
  <i class="fa fa-spinner fa-pulse"></i> Loading...
{{else}}
  {{#if displaySaveButton}}
    <button type="button" title="Save changes" {{action 'saveChanges'}} disabled={{not object.dirty}}>Save changes{{if object.dirty "*"}}</button>
  {{/if}}
  {{#if displayTitle}}
    {{item-display model=model.title object=object inheritedHelpers=helpers handleLabelClicked="handleLabelClicked"
    handleValueClicked="handleValueClicked" handleHide="handleHideTitle"}}
  {{/if}}
  {{#if displayHeadings}}
    {{#unless collapsed}}
      {{headings-display model=model.headings object=object inheritedHelpers=helpers handleHide="handleHideHeadings"}}
    {{/unless}}
  {{/if}}
{{/if}}
